[Unit]
Description=My service
After=network.target

[Service]
Restart=on-failure
RestartSec=30
ExecStart=/usr/bin/python3 -u /home/pi/Documents/auto_process.py
User=pi

[Install] 
WantedBy=multi-user.target
